/* styles.css */



.bi-github {
  color: #333333;
}

.bi-linkedin {
  color: #0082ca;
}

.bi-instagram {
  color: #ac2bac;
}

.contact {
  margin-top: 6rem;
  background-color: #4B0082;
}

.contact svg {
  width: 40px;
  height: auto;
}

.propic-container {
  padding: 0px;
  margin: 0px;
}
